* {
    margin: 0;
    padding: 0;
}

#logo{
    margin-left: 5%;
    margin-top: 3px;
    margin-bottom: 10px;
    height: 5rem;
}
#navbar{
    position: sticky;
    top: 0;
}
.collapse{
    font-size:large ;
    
    
}
.nav-item a{
    
    padding: 10px;
    margin: 5px;
}
.collapse >ul>li>a:hover{
    background-color: beige;
    
    color: black !important;
}
#image{
    height: 22rem;
}
#h1{
    text-align: center;
    color:  blueviolet;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    text-decoration: underline;
    
}
#video{
    
    height: 20rem;
    margin-right: 5px;
    
    margin-left: 10px;

}
